

<p id="notice"><%= notice %></p>

<h1>Recipes</h1>

<div class="product-box">    
<div class="container">
  <div class="row">
  <% @products.each do |product| %>
    <div class="col-sm-2 col-md-4">
    <%= image_tag("cheesecake.jpg", class: "img-responsive") %>
      <h1>Double-layer pumpkin cheesecake</h1>
      <p>Fluffy cheesecake sure to please!</p>
      <strong>$ 22</strong>
    </div><!-- /col -->
    <div class="col-sm-2 col-md-4">
    <%= image_tag("cookie.jpg", class: "img-responsive") %>
      <h1>Chocolate chip cookies</h1>
      <p>Every bite has a chocolate chip in it!</p>
      <strong>$ 11</strong>
    </div><!-- /col -->
    <div class="col-sm-2 col-md-4">
    <%= image_tag("mussels.jpg", class: "img-responsive") %>
      <h1>Belgian-Style Mussels</h1>
      <p>Made with white wine for a simple sauce.</p>
      <strong>$ 30</strong>
    </div><!-- /col -->
    <div class="col-sm-2 col-md-4">
    <%= image_tag("brie.jpg", class: "img-responsive") %>
      <h1>Brie En Croute</h1>
      <p>An easy but delicious appetizer!</p>
      <strong>$ 19</strong>
    </div><!-- /col -->
    <% end %>
  </div>
</div>
</div>

<div class="product-description">
<div class = "creator">
<% @products.each do |product| %>
  <tr :class => "exampleClass">
  <h2 :class => "exampleClass2"><%= product.name %></h2>
  <td><%= product.description %></td>
  <td><%= product.image_url %></td>
  <td><%= product.colour %></td>
  <td><%= link_to 'Show', product %></td>
  <td><%= link_to 'Edit', edit_product_path(product) %></td>
  <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% end %>
</div>
</div>
<br>
